@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// body {
//   font-family: 'pulpDisplay', sans-serif;
//   /* background-color: rgb(235, 235, 235); */
// }

.bg-app-green {
  background-color: #15a73f;
}
.app-green {
  color: #15a73f;
}

.app-h-plsp {
  height: 435px;
}

.notify {
  width: fit-content;
  position: fixed;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  display: flex;
  bottom: 0;
  margin-bottom: 10px;
  pointer-events: none;
  z-index: 9500;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

input:focus {
  -webkit-appearance: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.hero {
  height: 300px;
}

.page {
  display: flex;
  position: relative;
  top: -100px;
  z-index: 10;
}

.modal-content {
  border: none !important;
  border-radius: 8px;
}

.bgAppBlue {
  background-color: #4982b2;
}
.appBlue {
  color: #a3bfd8;
}

.appTextBlue {
  color: #4882b3;
}

.modal-dialog {
  // min-width: 60vw;
}

.howItWorks {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.sideBarTextBlue {
  color: #4982b2;
}

@media only screen and (max-width: 768px) {
  .page {
    top: -140px;
  }
  .modal-dialog {
    margin-right: 0;
    margin-left: 0;
  }
  .modal-content {
    border-radius: 20px;
  }
  .textCard {
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important;
  }
}
