@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: rgb(235, 235, 235); */
}

.bg-app-green {
  background-color: #15a73f;
}
.app-green {
  color: #15a73f;
}

.app-h-plsp {
  height: 435px;
}

.notify {
  width: fit-content;
  position: fixed;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  display: flex;
  bottom: 0;
  margin-bottom: 10px;
  pointer-events: none;
  z-index: 9500;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.hero {
  height: 300px;
}

.page {
  display: flex;
  position: relative;
  top: -100px;
  z-index: 10;
}

.modal-content {
  border: none !important;
  border-radius: 5%;
}

.bgAppBlue {
  background-color: #4982b2;
}
.appBlue {
  color: #a3bfd8;
}

.appTextBlue {
  color: #4882b3;
}

.modal-dialog {
  min-width: 80vw;
}

@media only screen and (max-width: 550px) {
  .page {
    top: -190px;
  }
}
